---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<h1 class="gradient-text">{title}</h1>

<style>
  .gradient-text {
    background: linear-gradient(to right, #f12711, #f5af19);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
